:root {
    /* Colores */
    --soft-black: #212529;
    --warm-grey: #474747;
    --grey: #8a8a8a;
    --soft-grey: #dddddd;
    --blue-grey: #f6f6f6;
    --just-white: #fff;
    --off-white: #faf8f7;
    --mustard: #ff8b24;
}

main{
    position: relative;
}

.main-form-container {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-form {
    width: 90%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    background-color: var(--just-white);
    padding: 20px;
    border-radius: 5px;
}

.main-form form {
    display: grid;
    grid-template-rows: repeat(5, auto);
    grid-template-columns: repeat( auto-fit, minmax(250px, 1fr) );
    align-items: center;
    margin-top: 15px;
}

form .input{
    height: 30px;
    border: 1px solid var(--soft-grey);
    border-radius: 5px;
    padding-left: 10px;
    margin-top: 15px;
}

form .input:focus{
    outline: none;
    transition: .60s;
    border-color: #80bdff;
}

form .nombrePrecio {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

form .nombre-input {
    width: 49%;
}

form .precio-input {
    width: 49%;
}


form .desc-input {
    resize: none;
    padding-top: 5px;
    height: 80px;
    width: 100%;
}

form .status-input {
    width: 100%;
}

form .submit{
    height: 30px;
    width: 80px;
    cursor: pointer;
    border: none;
    color: white;
    background-color: var(--mustard);
    border-radius: 0.5rem;
    transition: background-color 0.2s;
}

.submit:hover{
    background-color: #e27a20;
    transition: 0.2s;
}

.submit:focus{
    outline: none;
}

form .custom-file{
    margin: 15px 0;
}

form .file-input{
    width: 100%;
}

form .image-label{
    color: var(--soft-black);
    font-size: 1.4rem;
    font-weight: bold;
}

.custom-file figure{
    margin: 10px auto;
    width: 250px;
    height: 250px;

}

.custom-file img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}


