:root {
    /* Colores */
    --soft-black: #212529;
    --warm-grey: #474747;
    --grey: #717070;
    --soft-grey: #dddddd;
    --blue-grey: #f6f6f6;
    --just-white: #fff;
    --off-white: #faf8f7;
    --mustard: #ffc107;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: "Open Sans", sans-serif;
    scroll-behavior: smooth;
}

header {
    background-color: var(--soft-black);
    width: 100%;
}

hr{
    border: none;
    border-top: 1px solid var(--soft-grey);
    margin: 0 10px;
}

.header-container {
    padding: 5px 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header-container h2 {
    font-weight: 600;
    color: var(--off-white);
}

.header--logo {
    width: 50px;
}

.header--logo img {
    width: 100%;
    height: 100%;
}

.main {
    width: 100vw;
}

.main-banner {
    width: 100%;
    height: 500px;
    position: relative;
    overflow: hidden;
}

.banner-background {
    position: absolute;
    left: 0;
    top: 0;
    object-fit: cover;
    height: 100%;
    width: 100%;
    filter: brightness(50%);
}

.main-container-text{
    color: var(--just-white);
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-container-text h1{
    font-size: 2.6rem;
}

.main-container-text p{
    display: none;
}

.banner-button{
    margin-top: 16px;
}

.banner-button button{
    font-size: 1.6rem;
    padding: 10px 15px;
    color: var(--just-white);
    border: solid 1px var(--just-white);
    border-radius: 5px;
    cursor: pointer;
    background-color: transparent;
    transition: 0.2s;
}

.banner-button button:hover{
    background-color: var(--just-white);
    color: var(--soft-black);
    transition: 0.2s;
}

.main-categories--slider{
    width: 90%;
    display: flex;
    margin: 20px auto;
    justify-content: space-between;
    overflow-x: scroll;    
}

.categories--item{
    width: 70px;
    height: 70px;
    margin: 0 10px;
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: var(--blue-grey);
    border-radius: 100%;    
}

.categories-hr{
    display: none;
}

.food-detail--title{
    width: 94%;
    margin: 0 auto;
}

.food-detail--title h2{
    font-size: 2.4rem;
    color: var(--soft-black);
}

.food-detail--title p{
    font-size: 1.4rem;
    color: var(--warm-grey);
}

.food-cards--container{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    grid-auto-columns: 1fr;
}

.food-detail--card{
    /* width: 85%;
    min-width: 300px;
    max-width: 350px; */
    /* margin: 10px; */
    border: solid 1px var(--soft-grey);
    border-radius: 10px;
    overflow: hidden;
    font-family: 'Roboto', sans-serif;
}

.food--card-text{
    padding: 10px;
}

.food--card-text h3{
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 5px;
    color: var(--soft-black);
}

.food--card-text p{
    font-size: 1.6rem;
    color: var(--grey);
}


.food-detail--card figure{
    width: 100%;
    height: 170px;
}

.food-detail--card figure img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}