:root {
    /* Colores */
    --soft-black: #212529;
    --warm-black: #1b1a22;
    --warm-grey: #474747;
    --grey: #717070;
    --soft-grey: #dddddd;
    --blue-grey: #f6f6f6;
    --just-white: #fff;
    --off-white: #faf8f7;
    --mustard: #ff8b24;
}

main {
    /* background:linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../assets/img/food1.jpg"); */
    background-image: linear-gradient(to right bottom, #cb578d, #aa5997, #865b98, #645b90, #485781);
    padding: 10px;
    min-height: 90vh;
}

.main-menu {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    background-color: rgba(65, 70, 70, 0.322);
    border-radius: 5px;
    overflow: hidden;
}

.menu-header {
    margin-bottom: 10px;
}

.menu-header figure {
    width: 100%;
    height: 150px;
    overflow: hidden;
}

.menu-header figure img {
    width: 100%;
    height: calc(100% + 100vw / 10);
    object-fit: cover;
    object-position: center;
}

.menu-header .menu-info {
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 8px 8px 0 0;
    position: relative;
    bottom: 5px;
    color: var(--off-white);
    background-color: var(--warm-black);
}

.menu-info p {
    margin-top: 5px;
    font-size: 1.2rem;
}

.menu-info h2 {
    font-size: 1.6rem;
}

.menu-cards--container {
    padding-bottom: 10px;
}

.card {
    overflow: hidden;
    border-radius: 20px;
    background-color: var(--soft-black);
    color: var(--off-white);
    margin: 10px;
    box-shadow: 0px 0px 10px -2px rgba(0, 0, 0, 0.86);
    margin-top: 15px;
}

.card-image {
    position: relative;
    height: 140px;
}
.card-image > img {
    width: 100%;
    border-bottom-right-radius: 30px;
    transform: rotate(6deg) translate(-15px, -65px);
    position: absolute;
    height: 200px;
    object-fit: cover;
    object-position: center;
}

.card-info {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding: 0px 30px 20px 20px;
}
.card-info h3 {
    font-size: 18px;
    font-weight: 700;
}
.card-info p {
    font-size: 14px;
    font-weight: 600;
}

.card-info p.etiqueta {
    font-size: 14px;
    font-weight: 500;
    color: rgb(194, 194, 194);
}
.card-info--price {
    text-align: right;
    color: var(--mustard);
}

.card-info--price p {
    width: 30px;
}

.menu-footer {
    background-color: var(--warm-black);
}

.menu-footer-info {
    color: var(--just-white);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 0;
}

.menu-footer-info h3 {
    font-size: 1.4rem;
}

.menu-footer-info p {
    font-size: 1.2rem;
}
