:root {
    /* Colores */
    --soft-black: #212529;
    --warm-grey: #474747;
    --grey: #717070;
    --soft-grey: #dddddd;
    --blue-grey: #f6f6f6;
    --just-white: #fff;
    --off-white: #faf8f7;
    --mustard: #ff8b24;
}

html {
    font-size: 62.5%;
    font-family: "Open Sans", sans-serif;
    scroll-behavior: smooth;
}

body {
    height: 100vh;
    width: 100vw;
}

main {
    height: 100%;
    /* padding: 50px 0; */
    position: relative;
}

main img.bg-img {
    position: absolute;
    z-index: -5;
    left: 0;
    top: 0;
    object-fit: cover;
    height: 100%;
    width: 100%;
    filter: brightness(50%);
}

.main {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0 15px;
}

.main-title {
    margin-bottom: 1.4rem;
    font-size: 3.3rem;
    color: var(--just-white);
    font-family: sans-serif;
    font-weight: 100;
}

.main-login {
    width: 360px;
    font-size: 1.6rem;
    background-color: #fff;
    border-radius: 25px;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 0 1px rgb(0 0 0 / 13%), 0 1px 3px rgb(0 0 0 / 20%);

    transition: all 0.5s ease;
}

.main-login-text {
    margin-bottom: 2rem;
}

.main-login-form {
    width: 100%;
    position: relative;
}

.main-login-form.register h3 {
    margin-bottom: 15px;
    text-align: center;
}

.main-login-form .datos,
.main-login-form .register {
    display: flex;
    flex-direction: column;
}

.main-login-form .datos div {
    display: flex;
    align-items: center;
    gap: 10px;
    color: #666;
    border-radius: 25px;
    /* width: 32rem; */
    padding-left: 1rem;
    margin-bottom: 1.6rem;
    background: #ffffff;
    box-shadow: 0px 0px 14px 1px rgba(0, 0, 0, 0.08);
    padding: 0 15px;
}

.main-login-form .datos i {
    font-size: 1.6rem;
}

.main-login-form .datos input {
    font-family: "Open Sans", sans-serif;
    height: 3.8rem;
    border: none;
    color: #666;
    width: 100%;
}

.main-login-form .datos input:focus {
    outline: none;
    transition: 0.6s;
    border-color: #80bdff;
}

.main-login-form .register input {
    font-family: "Open Sans", sans-serif;
    display: flex;
    align-items: center;
    gap: 10px;
    color: #666;
    border: none;
    border-radius: 25px;
    height: 3.8rem;
    padding-left: 1rem;
    margin-bottom: 1.6rem;
    background: #ffffff;
    box-shadow: 0px 0px 14px 1px rgba(0, 0, 0, 0.08);
}

.main-login-form .boton {
    display: flex;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
}

.checkbox {
    display: flex;
    align-items: center;
    gap: 5px;
    padding-left: 1rem;
    margin-bottom: 1.6rem;
}

.checkbox span {
    font-size: 1.2rem;
    color: var(--warm-grey);
}

.btn-primary {
    width: 40%;
    height: 3.6rem;
    padding: 0.4rem 1.2rem;
    cursor: pointer;
    border: none;
    color: white;
    background-color: var(--mustard);
    border-radius: 0.5rem;
    font-weight: bold;
}

.btn-primary:hover {
    background-color: var(--mustard);
    filter: brightness(90%);
}

.btn-primary:focus {
    outline: none;
}

form .custom-file {
    margin: 0 auto;
}

form .file-input {
    width: 100%;
}

form .image-label {
    color: var(--soft-black);
    font-size: 1.4rem;
    font-weight: bold;
}

form .options-input {
    width: 100%;
    display: flex;
    align-items: center;
    color: #666;
    border: none;
    border-radius: 25px;
    height: 3.8rem;
    padding-left: 1rem;
    margin-bottom: 1.6rem;
    background: #ffffff;
    box-shadow: 0px 0px 14px 1px rgba(0, 0, 0, 0.08);
}

.custom-file .upload-image {
    margin: 0 auto;
    height: 125px;
    cursor: pointer;
}

.custom-file .upload-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    box-shadow: 0px 0px 14px 1px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    outline: 3px white solid;
}

.custom-file .upload-icon {
    position: absolute;
    left: calc(100% - 13.5px);
    top: 150px;
    width: 25px;
    height: 25px;
    cursor: pointer;
}

.custom-file .upload-icon img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    box-shadow: 0px 0px 14px 1px rgba(0, 0, 0, 0.1);
    border-radius: 100%;
}

.main-login-form.register {
    transition: all 0.5s linear;
}

.description {
    height: 130px;
    resize: none;
    color: #666;
    border: none;
    border-radius: 25px;
    padding: 10px;
    margin-bottom: 16px;
    background: #ffffff;
    box-shadow: 0px 0px 14px 1px rgba(0, 0, 0, 0.08);
    font-family: "Open Sans", sans-serif;
}

.hidden {
    height: 0;
    overflow: hidden;
    opacity: 0;
}

@media (max-width: 576px) {
    .main-login {
        width: 100%;
    }
}
